<section class="homeCertificates" id="cert">
    <div class="container">
        <div class="section-h2 text-center bold">{{options.certificates.title}}</div>
        <div class="homeCertificates-desc text-center">{{options.certificates.desc}}
        </div>
        <div class="homeCertificates-slider swiper">
            <div class="swiper-wrapper grid-container">
                {% for list in options.certificates.images %}
                    <div class="swiper-slide homeCertificates-slider__slide">
                        <picture><img class="lazyload" loading="lazy"
                                      data-src="{{list}}" width="118"
                                      height="166"></picture>
                    </div>
                {% endfor %}


            </div>
            <div class="swiper-button-prev homeCertificates-slider__arrow homeCertificates-slider__prev"></div>
            <div class="swiper-button-next homeCertificates-slider__arrow homeCertificates-slider__next"></div>
        </div>
    </div>
</section>